*, ::before, ::after
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

:root
{
    --first-color: #e9e9e9;
    --secondary-color: #b7cbe1;
    --third-color: #494394;
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

a
{
    text-decoration: none;
    color: black;
}

.home
{
    margin: auto;
    width: 100%;
    height: 6vw;
    display: flex;
    line-height: 3vw;
}

#menu_symbol 
{
    cursor: pointer;
    margin-left: 2vw;
    z-index: 1001;
    color: black;
    transition: transform 0.3s ease, font-size 0.3s ease;
    padding: 1vw;
    text-align: center;
    line-height: 1vw;
}

#menu_symbol:hover 
{
    scale: 1.1;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.2);
}

#menu_symbol.open 
{
    content: "X";
    font-size: 2.3vw;
    background-color: #ff000063;
    color: white;
    line-height: 0vw;

}
/* Menu */
#menu 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: var(--third-color);
    color: white;
    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 1000;
}

/* Menu mở */
#menu.open 
{
    transform: translateX(0);
    left: 0;
}

#menu ul 
{
    list-style: none;
    padding: 1.5vw 0;
    margin-top: 5vw;
}

#menu ul li 
{
    padding: 1vw;
    padding-left: 4vw;
}

#menu ul a li 
{
    color: white;
    transition: color 0.3s;
}

#menu ul a li:hover 
{
    background-color: #aaabbf;
}

/* animation đóng mở time */
body.menu-open #time 
{
    margin-left: 30%;
}   

body:not(.menu-open) #time 
{
    margin-left: 2vw; 
}

/* animation đóng mở search */
body.menu-open #search 
{
    width: 4.3vw;
}

body:not(.menu-open) #search 
{
    width: 35vw; 
}


/* animation đóng mở thân trang */
body.menu-open .main 
{
    margin-left: 30%;
    transition: margin-left 0.35s ease-in-out;
}

body:not(.menu-open) .main 
{
    margin-left: 0;
    transition: margin-left 0.3s cubic-bezier(0.25, 0.5, 0.3, 1);
}

#time 
{
    width: fit-content;
    font-weight: bold;
    color: black;
    transition: margin-left 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

#search 
{
    margin-left: auto;
    margin-right: 1vw;
    width: 35vw;
    max-width: 35vw;
    height: 3vw;
    line-height: 3vw;
    margin-top: 1.5%;
    border: none;
    border-radius: 0.5vw;
    padding-left: 0.5vw;
    border: #cecece solid;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: 
    width 0.5s cubic-bezier(0.25, 1, 0.5, 1),
    margin-left 0.5s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.5s ease-in-out;
}

#search input[type="text"] 
{
    border: 0;
    height: 3vw;
    width: 30vw; 
    line-height: 3vw;
    outline: none;
    background-color: transparent;
    transition: width 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

#search button 
{
    background-color: #cecece;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4.5vw;
    height: 3vw;
}

#search button:hover
{
    background-color: #9c9b9b;
}

#search button img
{
    width: 2vw;
    height: 2vw;
    margin: 0.5vw;
    transition: 0.3s;
}

#search button:hover img
{
    transform: scale(1.1);
}

/* thân trang */
.main
{
   margin-top: 1vw;
}

.switch 
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 0.5vw;
}

.switch button 
{
    width: 49.75%;
    height: 4vw;
    cursor: pointer;
    border: none;
    color: black;
    transition: width 0.5s ease, background 0.3s;
}


#btn-diendan 
{
    background: var(--first-color);
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
}


#btn-gopy 
{
    background: var(--secondary-color);
    border-top-left-radius: 1vw;
}

.switch button.active
{
    width: 70%;
    font-size: 2vw;
    transition: 0.3s;
}


.body 
{
    width: 100%;
    margin: auto;
    height: 100vh;
    position: relative;
    background: #f9f9f9;
}

.diendan, .gopy 
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 1vw;
    transition: transform 0.5s ease-in-out, z-index 0.3s ease-in-out;
}

.diendan 
{
    background: var(--first-color);
    color: black;
    z-index: 2;
}

.gopy 
{
    background: var(--secondary-color);
    color: black;
    z-index: 1;
    transform: translateX(100%);
}

.body.active .diendan 
{
    transform: translateX(-100%);
    z-index: 1;
}

.body.active .gopy 
{
    transform: translateX(0);
    z-index: 2;
}

.diendan-btn, .gopy-btn 
{
    position: absolute; 
    bottom: 25vh;
    right: 4vw;
    z-index: 999;
    width: 8vh;
    height: 8vh;
    font-size: 2.5vw;
    background: #D84315;
    color: white;
    border: none;
    border-radius: 10vw;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.diendan-btn 
{
    background: #FF9800;
    right: auto;
    left: 4vw;
}

.diendan-btn:hover, .gopy-btn:hover 
{
    background: #BF360C;
}
