*, ::before, ::after
{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
}

:root
{
    --first-color: #efefef;
    --secondary-color: #fbf6f1;
    --third-color: #ffffff;
    --menu-hover:#f4f4f4;
    --menu-hover2: rgba(0, 0, 0, 0.2);
    --background-color: rgba(0, 0, 0, 0.2);
}

body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--first-color);
    position: relative;
    overflow-y: hidden;
}

a
{
    text-decoration: none;
    color: black;
}

input.error 
{
    border: 1px solid red;
    background-color: #ffe6e6;
}

.error-message 
{
    color: red;
    font-size: 0.8vw;
}

.error-message.general 
{
    font-weight: bold;
}


#menu_symbol 
{
    cursor: pointer;
    margin-left: 3.5vw;
    margin-top: 1.8vw;
    z-index: 1011;
    color: black;
    transition: transform 0.3s ease, font-size 0.5s ease;
    padding: 1vw;
    text-align: center;
    line-height: 0.6vw;
    position: absolute;
    border-radius: 0.5vw;
    height: 2.6vw;
    font-family: sans-serif;
    position: fixed;
    
}

#menu_symbol:hover 
{
    scale: 1.1;
    transition: 0.3s;
    background-color: var(--menu-hover2);
    
}

#menu_symbol.open 
{
    font-size: 2.3vw;
    background-color: #ff000063;
    color: black;
    line-height: 0.6vw;

}

.home
{

    display: flex;
    line-height: 2vw;
    background-color: var(--third-color);
    width: 95%;
    margin-top: 0.5vw;
    height: 5vw;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0.5vw 1vw;
    transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1), margin-left 0.5s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s ease-in-out;
    z-index: 1010;
    top: 0;
    position: fixed;
}


/* Menu */
#menu 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: var(--third-color);
    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    z-index: 1011;
}

#menu.open 
{
    transform: translateX(0);
    box-shadow: rgba(0, 0, 0, 0.2) 0.5vw 0 2vw;
}

#menu ul 
{
    list-style: none;
    padding: 1.5vw 0;
    margin-top: 5vw;
}

#menu ul li 
{
    padding: 1vw;
    padding-left: 4vw;
}

#menu ul a li 
{
    color: black;
    transition: color 0.3s;
}

#menu ul a li:hover 
{
    background-color: #aaabbf;
}

#btn-logout
{
    position: absolute;
    bottom: 0;
    width: 100%;
}


#btn-logout li
{
    background-color: #ff000063;
}

#menu_overlay 
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    margin-left: 25vw;
    justify-content: right;
    z-index: 1000;
}

body.menu-open #menu_overlay 
{
    display: block;
}

body.menu-open 
{
    overflow: hidden;
}

body.menu-open #time
{
    margin-left: 1.5vw;
}

/* đóng mở thanh home */
body.menu-open .home 
{
    margin-left: 27.5%;
    width: 70%;
}   

body:not(.menu-open) .home
{
    margin-left: 2.5vw; 
}

/* animation đóng mở search */
body.menu-open #search, #search button
{
    width: 4.7vw;
}

body:not(.menu-open) #search 
{
    width: 35vw; 
}

/* animation đóng mở thân trang */
body.menu-open .main 
{
    margin-left: 25%;
    transition: margin-left 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

body:not(.menu-open) .main 
{
    margin-left: 0;
    transition: margin-left 0.3s cubic-bezier(0.25, 0.5, 0.3, 1);
}

#menu ul a li button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.home #time 
{
    width: fit-content;
    font-weight: bold;
    color: black;
    margin-left: 5vw;
}

.home #search 
{
    margin-left: auto;
    margin-right: 1.2vw;
    max-width: 35vw;
    height: 3vw;
    margin-top: 1vw;
    border: none;
    border-radius: 0.5vw;
    padding-left: 0.5vw;
    border: #cecece solid;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: width 0.45s cubic-bezier(0.25, 1, 0.5, 1), margin-left 0.5s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s ease-in-out;
}

.home #search input[type="text"] 
{
    border: 0;
    height: 3vw;
    width: 29.7vw; 
    line-height: 3vw;
    outline: none;
    background-color: transparent;
}

.home #search button 
{
    background-color: #cecece;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4.5vw;
    height: 3vw;
}

#search button:hover
{
    background-color: #9c9b9b;
}

.home #search button img
{
    width: 2vw;
    height: 2vw;
    margin-top: 0.5vw;
    transition: 0.3s;
}

#search button:hover img
{
    transform: scale(1.1);
}

/* Popup Login/Register */
#login-register 
{
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
    z-index: 1020;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

#login-register.active 
{
    display: flex;
    opacity: 1;
}

/* Khung Popup */
#login-register .popup-container 
{
    width: 30vw;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    background-color: var(--first-color);
}

/* Tabs */
#login-register .tabs 
{
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    overflow: hidden;
}

#login-register .tabs button 
{
    width: 49.75%;
    height: 4vw;
    cursor: pointer;
    border: none;
    color: black;
    font-size: 1.2vw;
    transition: width 0.5s ease, background 0.3s;
}

#btn-login 
{
    background-color: var(--third-color);
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

#btn-register 
{
    background-color: var(--secondary-color);
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
}

#login-register .tabs button.active 
{
    width: 70%;
    font-size: 1.4vw;
    transition: 0.3s;
}

/* Container Chuyển Slide */
#login-register .form-wrapper 
{
    width: 200%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#login-register .form-container 
{
    width: 50%;
    padding: 2vw;
    box-sizing: border-box;
}

/* Inputs và Buttons */
#login-register input 
{
    width: 100%;
    margin-bottom: 1vw;
    padding: 0.8vw;
    border: 1px solid #ccc;
    border-radius: 0.5vw;
    font-size: 1vw;
}

#login-register button 
{
    width: 100%;
    padding: 0.8vw;
    border: none;
    font-size: 1.2vw;
    cursor: pointer;
    transition: background 0.3s;
}

#login button, #register button
{
    color: white;
    background-color: #ff7700;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0.5vw 0.5vw;
}

#login button:hover, #register button:hover
{
    background-color: #BF360C;
}

/* Nút Đóng Popup */
#login-register .close-btn 
{
    position: absolute;
    top: 0.1vw;
    right: 0.5vw;
    font-size: 1.5vw;
    cursor: pointer;
    color: red;
}

#login-register .close-btn:hover
{
    scale: 1.1;
    color: darkred;
}
/* Animation Chuyển Slide */
#login-register .login-section,
#login-register .register-section 
{
    transition: transform 0.5s ease-in-out;
}

#login-register .login-section 
{
    background: var(--third-color);
    z-index: 1;
}

#login-register .register-section 
{
    background: var(--secondary-color);
    z-index: 1;
}

/* thân trang */
.main
{
    height: 100%;
    z-index: 500;
    overflow-x: hidden;
    position: relative;
}

.main .thongbao
{
    margin-top: 6.5vw;
    width: 100%;
    text-align: center;
}

.main .switch 
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 0.5vw;
    margin-top: 0.5vw;
}

.switch button 
{
    width: 49.75%;
    height: 4vw;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 2) 0 -4   vw 0.5vw;
    border: none;
    color: rgb(85, 85, 85);
    transition: width 0.5s ease, background 0.3s;
}


#btn-diendan 
{
    background: var(--third-color);
    border-top-right-radius: 1vw;
}


#btn-gopy 
{
    background: var(--secondary-color);
    border-top-left-radius: 1vw;
}

.switch button.active
{
    width: 70%;
    font-size: 1.7vw;
    transition: 0.3s;
    text-shadow: rgba(1, 1, 0, 0.366) 0 0.5 1vw;
    color: rgb(44, 44, 44);
}


.body 
{
    width: 100%;
    margin: auto;
    height: 100%;
    position: relative;
}

.diendan, .gopy 
{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 1vw;
    transition: transform 0.5s ease-in-out, z-index 0.3s ease-in-out;
}

.diendan 
{
    background: var(--third-color);
    color: rgb(54, 54, 54);
    display: flex;
    gap: 1%;
    height: fit-content;
}

.gopy 
{
    background: var(--secondary-color);
    color: black;
    z-index: 1;
    transform: translateX(100%);
    display: flex;
    gap: 1%;
    height: auto;
    overflow-y: auto;
}

.body.active .diendan 
{
    transform: translateX(-100%);
    z-index: 1;
}

.body.active .gopy 
{
    transform: translateX(0);
    z-index: 2;
}

.trending
{
    width: 24.5%;
    word-wrap: break-word;
    padding: 0.5vw;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.11) 0.1vw 0.1vw 1vw;
    height: auto;
    max-height: 65vh;
    overflow-y: hidden;
    padding: 1vw;
    transition: overflow 0.5s ease;
    padding-right: 1.5vw;
}

.trending h1 
{
    text-align: center;
    margin-top: 0;    
    padding-right: 1.5vw;
    margin-left: 1vw;
}

.trending-post 
{
    min-height: 8vw;
    height: fit-content;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.trending-post h2 
{
    font-size: 1vw;
    margin-bottom: 10px;
}

.trending-post p 
{
    margin: 0;
    font-size: 0.8vw;
}

.trending-post p strong 
{
    font-weight: bold;
    font-size: 1vw;
    color: #FF9800;
}

.trending:hover 
{
    overflow-y: scroll;
    padding-right: 1vw;
}

.trending::-webkit-scrollbar 
{
    width: 0.45vw;
    background-color: none; 
}

.trending::-webkit-scrollbar-thumb 
{
    background: #888;
    border-radius: 1vw;
}

.trending::-webkit-scrollbar-thumb:hover 
{
    background: #555;
}

.trending-btn
{
    position: absolute; 
    bottom: 3vh;
    right: 1vw;
    z-index: 999;
    width: 8vh;
    height: 8vh;
    font-size: 2.5vw;
    background: #FF9800;
    color: white;
    border: none;
    border-radius: 10vw;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
    font-family: sans-serif;
}

.trending-btn:hover 
{
    background: #BF360C;
}

.baiviet    
{
    width: 74.5%;
    height: 100%;
    margin-left: auto;
    padding: 1vw;
}

#post
{
    width: 60%;
    height: 4vw;
    background-color: var(--third-color);
    margin: auto;
    border-radius: 0.5vw;
    margin-bottom: 1vw;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.5vw;
    transition: margin-left 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

#post:hover
{
    background-color: var(--menu-hover);
}

#post-btn, #post-btn1
{
    width: 100%;
    line-height: 4vw;
    border: none;
    color: rgb(85, 85, 85);
    background-color: transparent;
    cursor: pointer;
    transition: background 0.3s;
}

body.menu-open #post-btn
{
    margin-left: 0vw;
}

/* Popup thêm bài viết diễn đàn */
#add-post-popup 
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1015;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    background-color: var(--background-color);
}

#add-post-popup.active 
{
    display: flex;
    opacity: 1;
}

/* Container của Popup */
#add-post-popup .popup-content 
{
    background-color: white;
    width: 45vw;
    min-height: 35vh;
    padding: 2vw;
    border-radius: 1.5vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden; 
    transition: margin-left 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    scale: 0.9;
}

body.menu-open .popup-content 
{
    margin-left: 27.5%;
}   

/* Nút Đóng Popup */
#add-post-popup .close-btn 
{
    position: absolute;
    top: 1vw;
    right: 1vw;
    font-size: 2vw;
    cursor: pointer;
    color: #ff4444; /* Thay màu cho nút đóng */
    transition: transform 0.3s ease, color 0.3s ease;
}

#add-post-popup .close-btn:hover 
{
    transform: scale(1.1);
    color: darkred;
}

/* Tiêu đề */
#add-post-popup h2 
{
    text-align: center;
    font-size: 2vw;
    color: #333;
    margin-bottom: 1.5vw;
    margin-top: 0;
}

/* Nội dung*/
#add-post-popup textarea 
{
    width: 100%;
    height: 15vw;
    padding: 1.5vw;
    border: 1px solid #ccc;
    border-radius: 0.8vw;
    font-size: 1.1vw;
    outline: none;
    resize: none;
    transition: border-color 0.3s ease;
}

#add-post-popup textarea:focus 
{
    border-color: #ff7700;
}

#add-post-popup input[type="text"] 
{
    width: 100%;
    padding: 1.2vw;
    margin-bottom: 2vw; /* Thêm khoảng cách giữa các input */
    border: 1px solid #ccc;
    border-radius: 0.8vw;
    font-size: 1.1vw;
    outline: none;
    transition: border-color 0.3s ease;
}

#add-post-popup input[type="text"]:focus 
{
    border-color: #ff7700;
}

/* Nút Đăng Bài */
#add-post-popup button 
{
    width: 100%;
    padding: 1.2vw;
    margin-top: 1.5vw;
    border: none;
    font-size: 1.5vw;
    cursor: pointer;
    background-color: #ff7700;
    color: white;
    border-radius: 0.8vw;
    transition: background 0.3s ease;
}

#add-post-popup button:hover 
{
    background-color: #BF360C;
}

.success-message, .error-message 
{
    transition: opacity 1s ease-out;
    opacity: 1;
    
}

.success-message.hidden, .error-message.hidden 
{
    opacity: 0;
    visibility: hidden;
}

.success-message 
{
    color: green;
    background-color: #d4edda;
    padding: 0.5vw;
    margin: 0.5vw 0;
    border-radius: 5px;
}

.error-message 
{
    color: red;
    background-color: #f8d7da;
    padding: 0.5vw;
    margin: 0.5vw 0;
    border-radius: 0.2vw;
}

.post-item 
{
    width: 80%;
    margin: auto;
    height: 18vw;
    background-color: var(--first-color);
    padding: 1vw;
    padding-top: 0;
    margin-bottom: 1vw;
    border-radius: 0.5vw;
    position: relative;
    overflow-y: hidden;
    padding-right: 1.5vw;
}

.vote
{
    background-color: #c2c2c2;
    border-radius: 0.8vw;
}

.ptvote 
{
    position: sticky;
    top: 14vw;
    left: 1vw;
    z-index: 10;
    display: flex;
    align-items: left; 
    padding: 0.5vw;
    border-radius: 0.5vw;
}


.post-item:hover 
{
    overflow-y: scroll;
    padding-right: 1.5vw;
}

.post-item::-webkit-scrollbar 
{
    width: 0.45vw;
    background-color: none; 
}

.post-item::-webkit-scrollbar-thumb 
{
    background: #888;
    border-radius: 1vw;
}

.post-item::-webkit-scrollbar-thumb:hover 
{
    background: #555;
}

.post-header 
{
    align-items: flex-start;
    margin-bottom: 0.5vw;
}

.post-item p.post-time 
{
    font-size: 0.8vw;
    font-weight: bold;
    margin: 0;
}

.post-item p.post-user 
{
    font-size: 1.7vw;
    font-weight: bold;
    color: #FF9800;
    margin: 0;
}

.post-menu 
{
    position: absolute;
    top: 0vw;
    right: 0vw;
}

.post-item p.noidung
{
    white-space: pre-wrap;
    margin: 10px 0;
    line-height: 1.5;   
}

.menu-btn 
{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2vw;
    width: 100%;
}

.menu-dropdown 
{
   
    display: none;
    position: absolute;
    top: 1.7rem;
    right: 0.5vw;
    background-color: var(--third-color);
    width: 10vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-menu:hover .menu-dropdown,
.menu-btn:hover + .menu-dropdown 
{
    display: block;
}

 .menu-dropdown .dropdown-btn
{
    width: 100%;
    display: block;
    padding: 0.5vw 0;
    line-height: 1vw;
    color: #333;
    text-decoration: none;
    text-align: center;
}

.dropdown-btn:hover 
{
    background-color: var(--menu-hover);
}

.post-item .vote
{
    display: flex;
    width: fit-content;
    margin-top: 0.5vw;
    position: absolute;
    bottom: 10;
}

.post-item .vote-count1, .post-item .vote-count2
{
    background-color: #d6d6d6;
    padding: 0.2vw;
    border-radius: 0.5vw;
}

.post-item .vote-count1
{
    color: rgb(0, 212, 0);
}

.post-item .vote-count2
{
    color: rgb(255, 0, 0);
}

.post-item button 
{
    border: none;
    background-color: transparent;
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.post-item button img 
{
    width: 100%;
    height: auto;
}


.post-item button.upvote:hover 
{
    transform: scale(1.1);
}

.post-item button.downvote:hover 
{
    transform: scale(1.1);
}

.post-item .vote button.upvote img.default,
.post-item .vote button.downvote img.default {
    display: block;
}

.post-item .vote button.upvote img.chose,
.post-item .vote button.downvote img.chose {
    display: none;
}

.post-item .vote button.upvote.chose img.default {
    display: none;
}

.post-item .vote button.upvote.chose img.chose {
    display: block;
}

.post-item .vote button.downvote.chose img.default {
    display: none;
}

.post-item .vote button.downvote.chose img.chose {
    display: block;
}
